<div class="container">
  <div id="change-detection-demo">
    <h1>Root component</h1>

    <button class="btn" (click)="onCounterClicked()">Counter Click {{counter}}</button>

    <form [formGroup]="form" (submit)="onSubmit(form)">
      <div class="form-group">
        <label for="name">TEXT: </label>
        <input type="text" class="form-control" id="text" formControlName="textToDisplay">
      </div>
      <div class="form-group">
        <label for="name">Person name: </label>
        <input type="text" class="form-control" id="text" formControlName="personName">
      </div>
      <input type="submit" value="Submit">
    </form>

    <p>
      {{ formTextToDisplay }}
    </p>
    <p>
      {{ person.name }}
    </p>

    <div class="childs-container">
      <app-root-child-one [textToDisplay]="formTextToDisplay" [person]="person"></app-root-child-one>
      <app-root-child-two [textToDisplay]="formTextToDisplay" [person]="person"></app-root-child-two>
    </div>
  </div>

  <div id="performance-demo">

  </div>
</div>
